# automake
Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
.deps/
.dirstamp

# autoconf
autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/build-aux/compile
/config.cache
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure~
/configure.scan
/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing
/stamp-h1

# libtool
/ltmain.sh

# texinfo
/texinfo.tex

# m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

# Generated Makefile
Makefile

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/result
/out
/bin
/SpikingC

# Datasets
notebooks/data
notebooks/cache
notebooks/tmp

data/
